{% extends '@layout/default.html.twig' %}

{% block title %}Create group{% endblock %}

{% block content %}
    <h1>Create language</h1>

    {% include '@localization/partials/messages.html.twig' %}

    <form name="{{ form.name }}" method="post">
        <input type="{{ form.get('_csrf').attributes.type }}"
               name="{{ form.get('_csrf').name }}"
               value="{{ form.get('_csrf').value }}"/>

        <div class="form-group">
            <label for="{{ form.get('name').name }}">{{ form.get('name').label }}</label>
            <input class="form-control"
                   type="{{ form.get('name').attributes.type }}"
                   name="{{ form.get('name').name }}"
                   value="{{ form.get('name').value }}"/>
        </div>

        <div class="form-group">
            <label for="{{ form.get('url').name }}">{{ form.get('url').label }}</label>
            <input class="form-control"
                   type="{{ form.get('url').attributes.type }}"
                   name="{{ form.get('url').name }}"
                   value="{{ form.get('url').value }}"/>
        </div>

        <div class="form-group">
            <label for="{{ form.get('local').name }}">{{ form.get('local').label }}</label>
            <input class="form-control"
                   type="{{ form.get('local').attributes.type }}"
                   name="{{ form.get('local').name }}"
                   value="{{ form.get('local').value }}"/>
        </div>

        <div class="form-group">
            <label for="{{ form.get('main').name }}">
                {{ form.get('main').label }}
            </label>

            <input class="form-control"
                   type="hidden"
                   name="{{ form.get('main').name }}"
                   value="{{ form.get('main').options.unchecked_value }}"
            />

            <input class="form-control"
                   type="{{ form.get('main').attributes.type }}"
                   name="{{ form.get('main').name }}"
                   value="{{ form.get('main').options.checked_value }}"/>
        </div>

        <div class="form-group">
            <label for="{{ form.get('active').name }}">
                {{ form.get('active').label }}
            </label>

            <input class="form-control"
                   type="hidden"
                   name="{{ form.get('active').name }}"
                   value="{{ form.get('active').options.unchecked_value }}"
            />

            <input class="form-control"
                   type="{{ form.get('active').attributes.type }}"
                   name="{{ form.get('active').name }}"
                   value="{{ form.get('active').options.checked_value }}"/>
        </div>

        <div class="form-group">
            <input class="btn btn-primary"
                   type="{{ form.get('submit').attributes.type }}"
                   name="{{ form.get('submit').name }}"
                   value="{{ form.get('submit').value }}"/>
        </div>
    </form>

{% endblock %}