{% extends '@layout/default.html.twig' %}

{% block title %} Groups{% endblock %}

{% block content %}
    <h1>Languages</h1>
    <p><a href="{{ path('localization.language-create') }}" class="btn btn-success">Создать</a></p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Local</th>
            <th>Active</th>
            <th>Main</th>
            <th>Actions</th>
        </tr>

        {% for language in languages %}
            <tr>
                <td>{{ language.name|e }}</td>
                <td>{{ language.url|e }}</td>
                <td>{{ language.local|e }}</td>
                <td>{{ language.active|e }}</td>
                <td>{{ language.main|e }}</td>

                <td>

                        <a href="{{ path('localization.language-update', {'id': language.id}) }}"
                           class="label label-primary">Обновить</a>

                        <form action="{{ path('localization.language-delete', {'id': language.id}) }}"
                              method="POST">
                            <button type="submit" class="label label-danger">Удалить</button>
                        </form>


                </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}


