{% extends '@layout/default.html.twig' %}

{% block title %} Permissions categories{% endblock %}

{% block content %}
    {% include '@authorization/partials/menu.html.twig' %}
    <h1>Permissions categories</h1>
    <p><a href="{{ path('authorization.permission-category-create') }}" class="btn btn-success">Создать</a></p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>

        {% for permissionCategory in permissionCategories %}
            <tr>
                <td>{{ permissionCategory.name|e }}</td>
                <td>

                        <a href="{{ path('authorization.permission-category-update', {'id': permissionCategory.id}) }}"
                           class="label label-primary">Обновить</a>


                    <form action="{{ path('authorization.permission-category-delete', {'id': permissionCategory.id}) }}"
                          method="POST">
                        <button type="submit" class="label label-danger">Удалить</button>
                    </form>


                </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}


