{% extends '@layout/default.html.twig' %}

{% block title %} Главная{% endblock %}

{% block content %}
    Главная

    {{ translator.translate('hell') }}
    {% include '@app/partials/flash-messenger.html.twig' %}
    <h1>Members</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username|e }} {{ user.email|e }}</li>
        {% endfor %}
    </ul>
{% endblock %}


