
<ul>
    <li><a href="{{ path('authorization.permissions') }}">Permission</a></li>
    <li><a href="{{ path('authorization.groups') }}">Groups</a></li>
    <li><a href="{{ path('authorization.permissions-categories') }}">Permissions categories</a></li>
    <li><a href="{{ path('authorization.update-groups-permissions') }}">Rules</a></li>
</ul>
