{% if form.messages %}
    <div class="alert alert-danger">
        <strong>The following errors occurred</strong>
        <ul>
            {% for messages in form.messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}