{% extends '@layout/default.html.twig' %}

{% block title %} Permissions{% endblock %}

{% block content %}
    {% include '@authorization/partials/menu.html.twig' %}
    <h1>Permissions</h1>
    <p><a href="{{ path('authorization.permission-create') }}" class="btn btn-success">Создать</a></p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>

        {% for permission in permissions %}
            <tr>
                <td>{{ permission.name|e }}</td>
                <td>{{ permission.description|e }}</td>
                <td>

                        <a href="{{ path('authorization.permission-update', {'id': permission.id}) }}"
                           class="label label-primary">Обновить</a>

                    <form action="{{ path('authorization.permission-delete', {'id': permission.id}) }}"
                          method="POST">
                        <button type="submit" class="label label-danger">Удалить</button>
                    </form>

                </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}


