{% extends '@layout/default.html.twig' %}

{% block title %}Update permission{% endblock %}

{% block content %}
    {% include '@authorization/partials/menu.html.twig' %}
    <h1>Update permission</h1>

    {% include '@authorization/partials/messages.html.twig' %}

    <form name="{{ form.name }}" method="post">
        <input type="{{ form.get('_csrf').attributes.type }}"
               name="{{ form.get('_csrf').name }}"
               value="{{ form.get('_csrf').value }}"/>

        <div class="form-group">
            <label for="{{ form.get('name').name }}">{{ form.get('name').label }}</label>
            <input class="form-control"
                   type="{{ form.get('name').attributes.type }}"
                   name="{{ form.get('name').name }}"
                   value="{{ form.get('name').value }}"/>
        </div>

        <div class="form-group">
            <label for="{{ form.get('description').name }}">{{ form.get('description').label }}</label>
            <input class="form-control"
                   type="{{ form.get('description').attributes.type }}"
                   name="{{ form.get('description').name }}"
                   value="{{ form.get('description').value }}"/>
        </div>
        <div class="form-group">
            <label for="{{ form.get('permissionCategoryId').name }}">{{ form.get('permissionCategoryId').label }}</label>
            <select class="form-control" name="{{ form.get('permissionCategoryId').name }}">
                {% for key, option in form.get('permissionCategoryId').options.value_options %}
                    <option value ="{{ key }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <input class="btn btn-primary"
                   type="{{ form.get('submit').attributes.type }}"
                   name="{{ form.get('submit').name }}"
                   value="{{ form.get('submit').value }}"/>
        </div>
    </form>

{% endblock %}