{% extends '@layout/default.html.twig' %}

{% block title %}Update groups permissions{% endblock %}

{% block content %}
    {% include '@authorization/partials/menu.html.twig' %}
    <h1>Update groups permissions</h1>

    {% include '@authorization/partials/messages.html.twig' %}

    <form name="{{ form.name }}" method="post">
        <input type="{{ form.get('_csrf').attributes.type }}"
               name="{{ form.get('_csrf').name }}"
               value="{{ form.get('_csrf').value }}"/>

        <div class="row">
            {% for group in groups %}
                <div class="col-md-2">
                    {{ group.description }}
                    {% for permission in permissions %}
                        <div class="form-group">
                            <label for="{{ form.get(group.id ~ '|' ~ permission.id).name }}">
                                {{ form.get(group.id ~ '|' ~ permission.id).label }}
                            </label>
                            <input class="form-control"
                                   type="hidden"
                                   name="{{ form.get(group.id ~ '|' ~ permission.id).name }}"
                                   value="{{ form.get(group.id ~ '|' ~ permission.id).options.unchecked_value }}"
                            />
                            <input class="form-control"
                                   type="{{ form.get(group.id ~ '|' ~ permission.id).attributes.type }}"
                                   name="{{ form.get(group.id ~ '|' ~ permission.id).name }}"
                                   value="{{ form.get(group.id ~ '|' ~ permission.id).options.checked_value }}"

                            {% if form.get(group.id ~ '|' ~ permission.id).options.checked %}
                                checked
                            {% endif %}
                            />
                        </div>

                    {% endfor %}
                </div>
            {% endfor %}
        </div>


        <div class="form-group">
            <input class="btn btn-primary"
                   type="{{ form.get('submit').attributes.type }}"
                   name="{{ form.get('submit').name }}"
                   value="{{ form.get('submit').value }}"/>
        </div>
    </form>

{% endblock %}