{% extends '@layout/default.html.twig' %}

{% block title %}Password recovering{% endblock %}

{% block content %}
    <h1>Password recovering</h1>

    {% include '@app/user/partials/messages.html.twig' %}

    <form name="{{ form.name }}" method="post">
        <input type="{{ form.get('_csrf').attributes.type }}"
               name="{{ form.get('_csrf').name }}"
               value="{{ form.get('_csrf').value }}"/>

        <div class="form-group">
            <label for="{{ form.get('password').name }}">{{ form.get('password').label }}</label>
            <input class="form-control"
                   type="{{ form.get('password').attributes.type }}"
                   name="{{ form.get('password').name }}"
                   value="{{ form.get('password').value }}"/>
        </div>

        <div class="form-group">
            <label for="{{ form.get('passwordRepeat').name }}">{{ form.get('passwordRepeat').label }}</label>
            <input class="form-control"
                   type="{{ form.get('passwordRepeat').attributes.type }}"
                   name="{{ form.get('passwordRepeat').name }}"
                   value="{{ form.get('passwordRepeat').value }}"/>
        </div>

        <div class="form-group">
            <input class="btn btn-primary"
                   type="{{ form.get('submit').attributes.type }}"
                   name="{{ form.get('submit').name }}"
                   value="{{ form.get('submit').value }}"/>
        </div>
    </form>

{% endblock %}