{% extends '@layout/default.html.twig' %}

{% block title %}Password recovering request{% endblock %}

{% block content %}
    <h1>Password recovering request</h1>

    {% include '@app/user/partials/messages.html.twig' %}

    <form name="{{ form.name }}" method="post">
        <input type="{{ form.get('_csrf').attributes.type }}"
               name="{{ form.get('_csrf').name }}"
               value="{{ form.get('_csrf').value }}"/>


        <div class="form-group">
            <label for="{{ form.get('email').name }}">{{ form.get('email').label }}</label>
            <input class="form-control"
                   type="{{ form.get('email').attributes.type }}"
                   name="{{ form.get('email').name }}"
                   value="{{ form.get('email').value }}"/>
        </div>

        <div class="form-group">
            <input class="btn btn-primary"
                   type="{{ form.get('submit').attributes.type }}"
                   name="{{ form.get('submit').name }}"
                   value="{{ form.get('submit').value }}"/>
        </div>
    </form>

{% endblock %}