<p>Здравствуйте, {{ username }}!</p><br>
<p><a href="http://click.loc/user/password-recovering/{{ token }}">Сменить пароль на сайте</a></p><br/>
<p>Если вы не хотите менять пароль на сайте, то проигнорируйте данное<br><br>сообщение</p>